@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kumbh Sans";
  font-weight: 400;
  src: url("src/assets/fonts/kumbhsans-regular-webfont.woff2") format("woff2"),
    url("src/assets/fonts/kumbhsans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Kumbh Sans";
  font-weight: 700;
  src: url("src/assets/fonts/kumbhsans-bold-webfont.woff2") format("woff2"),
    url("src/assets/fonts/kumbhsans-bold-webfont.woff") format("woff");
}

@layer base {
  body {
    font-family: "Kumbh Sans", sans-serif;
  }
}

@layer components {
  .filtered-img {
    filter: invert(55%) sepia(93%) saturate(2173%) hue-rotate(347deg) brightness(102%)
      contrast(101%);
  }

  .red-filtered-img {
    filter: invert(55%) sepia(93%) saturate(2173%) hue-rotate(347deg) brightness(102%)
      contrast(101%);
  }
}
